/* Style for the GitHub window */
.github-window {
    border-radius: 6px;
    padding: 10px;
    overflow: auto;
    height: 400px;
    margin: 20px auto;
    width: 40%;
    max-width: 800px;
}

.file {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.file-link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.file-link:hover {
    text-decoration: underline;
}

.cv-button {
    text-align: center;
    margin-top: 5vh;
}

.dropdown-toggle.btn-primary {
    background-color: #ffffff;
    color: #1f1f1f;
}

.dropdown-toggle.btn-primary:hover {
    background-color: #ffffff;
    color: #1f1f1f;
}

.dropdown-menu {
    background-color: #ffffff;
    color: #1f1f1f;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a {
    color: #1f1f1f;
    border-radius: 10px;
    padding: 10px;
}

.dropdown-menu a:hover {
    background-color: #f5f5f5;
    color: #1f1f1f;
}


/* Global styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-image: url("/static/images/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

.toolbar {
    background-color: #ffffffde;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 20px;
}

.toolbar a {
    color: rgb(0, 0, 0);
    margin: 0 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.toolbar a:hover {
    text-decoration: underline;
}

.my-project {
    color: #1f1f1f;
    font-size: 30px;
    margin-top: 40px;
    padding: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.title-with-image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .title-with-image h1 {
    color: #1f1f1f;
    font-size: 50px;
    margin-top: 40px;
    padding: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-right: 10px; /* add left margin to create space */
  }
  
  .title-with-image img {
    display: inline-block;
    margin-top: 45px; /* or adjust the value as needed */
    max-block-size: 50px;
    margin-left: 10px; /* add left margin to create space */
  }
  
.name {
    font-size: 5rem;
    text-align: center;
    margin-top: 25vh;
    text-shadow: 2px 2px #000000;
    color: #1f1f1f;
}

.devops {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    text-shadow: 2px 2px #ffffff;
    color: #000000;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -250px;
  }
  
  .contact-options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  
  .contact-options p {
    margin: 0;
    padding: 10px 20px;
  }
  
  .contact-options img {
    margin-right: 15px;
    max-width: 50px;
  }
  
  .contact-options a {
    color: #0077b5;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .contact-options a:hover {
    text-decoration: underline;
  }
  
  
  /* Add margin to left of each contact option except the first one */
  .contact-options:not(:first-child) {
    margin-left: 30px;
  }
  
  /* Add margin between each logo and option */
  .contact-options img:not(:first-child) {
    margin-left: 10px;
  }
  
  
  
  


