<!-- This is the template for the contact page -->

<!DOCTYPE html>
<html>
<head>
    <title>Elad Cohen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <!-- Toolbar -->
    <div class="toolbar">
        <a href="/home">Home</a>
        <a href="/project">This Project</a>
        <a href="/contact">Contact</a>
    </div>
    
    <!-- Main content section -->
    <div class="container mt-5">
        <h1 class="name">Elad Cohen</h1>
        <h3 class="devops">DevOps Engineer</h3>
    </div>

    <div class="contact-wrapper">
        <div class="contact-options">
          <img src="/static/images/email.png"/>
          <a href="mailto:elad320011@gmail.com">
            <p>Email</p>
          </a>
        </div>
        <div class="contact-options">
          <img src="/static/images/linkedin.png"/>
          <a href="https://www.linkedin.com/in/elad320011" target="_blank">
            <p>LinkedIn</p>
          </a>
        </div>
        <div class="contact-options">
          <img src="/static/images/phone.png"/>
          <a href="tel:+972525124806">
            <p>Phone</p>
          </a>
        </div>
      </div>
      
      
</body>
</html>
