<!-- This is the template for the home page -->

<!DOCTYPE html>
<html>
<head>
    <title>Elad Cohen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <!-- Toolbar -->
    <div class="toolbar">
        <a href="/about">About</a>
        <a href="/experience">Experience</a>
        <a href="/project">This Project</a>
        <a href="/skills">Skills</a>
        <a href="/contact">Contact</a>
    </div>

    <!-- Main content section -->
    <div class="container mt-5">
        <h1 class="name">Elad Cohen</h1>
        <h3 class="devops">DevOps Engineer</h3>
        <div class="cv-button">
            <a href="/static/files/cv.pdf" class="btn btn-lg btn-primary" download>Download CV</a>
        </div>
    </div>
</body>
</html>