<!-- This is the template for the home page -->

<!DOCTYPE html>
<html>
<head>
    <title>Elad Cohen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <!-- Toolbar -->
    <div class="toolbar">
        <a href="/home">Home</a>
        <a href="/project">This Project</a>
        <a href="/contact">Contact</a>
    </div>

    <!-- Main content section -->
    <div class="container mt-5">
        <h1 class="name">Elad Cohen</h1>
        <h3 class="devops">DevOps Engineer</h3>
        <div class="cv-button">
            <a href="/static/files/Elad Cohen CV.pdf" class="btn btn-lg btn-primary" target="_blank">Preview CV</a>
            <div class="btn-group" role="group" aria-label="CV download options">
                <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Download CV
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/static/files/Elad Cohen CV.pdf" download>PDF</a>
                    <a class="dropdown-item" href="/static/files/Elad Cohen CV.docx" download>Word</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
