<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
    
  <!-- Main content section -->
  <div class="container mt-5">
    <h1 class="name">Elad Cohen</h1>
    <h3 class="devops">Login</h3>
    <form method="POST" action="{{ url_for('login') }}">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br><br>
      <input type="submit" value="Login">
    </form>
  </div>
  </body>
</html>
