<!DOCTYPE html>
<html>
  <head>
    <!-- Link to the Bootstrap CSS library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Link to the custom CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  <body>
    <!-- Main content section -->
    <div class="container mt-5">
      <!-- Name heading -->
      <h1 class="name">Elad Cohen</h1>
      <!-- Welcome message heading -->
      <h3 class="devops">Welcome</h3>
      <!-- Login form -->
      <form class="auth-form" method="POST" action="{{ url_for('login') }}">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Sign In">
      </form>
      <!-- Link to the registration page -->
      <a class="auth-form" href="/register">
        <button>Sign Up</button>
      </a>    
    </div>
  </body>
</html>