<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <!-- Toolbar -->
    <div class="toolbar">
        <a href="/home">Home</a>
        <a href="/project">This Project</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="title-with-image">
        <h1>This Project</h1>
        <img src="/static/images/github.png" alt="Image">
    </div>
    <div class="github-window">
        <!-- Fetch the list of files in the repository using the GitHub API -->
        <script>
            const GITHUB_API_URL = 'https://api.github.com/repos/elad320011/elad/contents/';
            const filesList = document.createElement('ul');
            fetch(GITHUB_API_URL)
                .then(response => response.json())
                .then(files => {
                    files.forEach(file => {
                        const fileName = file.name;
                        const fileLink = file.html_url;
                        const listItem = document.createElement('li');
                        const link = document.createElement('a');
                        link.setAttribute('href', fileLink);
                        link.setAttribute('target', '_blank');
                        link.setAttribute('class', 'file-link');
                        link.innerText = fileName;
                        const fileItem = document.createElement('div');
                        fileItem.setAttribute('class', 'file');
                        fileItem.appendChild(link);
                        listItem.appendChild(fileItem);
                        filesList.appendChild(listItem);
                    });
                });
            document.querySelector('.github-window').appendChild(filesList);
        </script>
    </div>
</body>
</html>
